@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

#root {
  min-height: 100vh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-300) transparent;
}
.dark * {
  scrollbar-color: var(--color-gray-700) transparent;
}
